In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [32]:
dataset = pd.read_csv('Iris.csv')
dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0   1            5.1           3.5            1.4           0.2  setosa
1   2            4.9           3.0            1.4           0.2  setosa
2   3            4.7           3.2            1.3           0.2  setosa
3   4            4.6           3.1            1.5           0.2  setosa
4   5            5.0           3.6            1.4           0.2  setosa

In [33]:
pd.get_dummies(dataset['Species'], prefix='Species')

#NOTE - This will return multiple new columns.
# Hence we will instead use a map to encode the values

     Species_setosa  Species_versicolor  Species_virginica
0                 1                   0                  0
1                 1                   0                  0
2                 1                   0                  0
3                 1                   0                  0
4                 1                   0                  0
5                 1                   0                  0
6                 1                   0                  0
7                 1                   0                  0
8                 1                   0                  0
9                 1                   0                  0
10                1                   0                  0
11                1                   0                  0
12                1                   0                  0
13                1                   0                  0
14                1                   0                  0
15                1                   0                  0
16                1                   0                  0
17                1                   0                  0
18                1                   0                  0
19                1                   0                  0
20                1                   0                  0
21                1                   0                  0
22                1                   0                  0
23                1                   0                  0
24                1                   0                  0
25                1                   0                  0
26                1                   0                  0
27                1                   0                  0
28                1                   0                  0
29                1                   0                  0
..              ...                 ...                ...
120               0                   0                  1
121               0                   0                  1
122               0                   0                  1
123               0                   0                  1
124               0                   0                  1
125               0                   0                  1
126               0                   0                  1
127               0                   0                  1
128               0                   0                  1
129               0                   0                  1
130               0                   0                  1
131               0                   0                  1
132               0                   0                  1
133               0                   0                  1
134               0                   0                  1
135               0                   0                  1
136               0                   0                  1
137               0                   0                  1
138               0                   0                  1
139               0                   0                  1
140               0                   0                  1
141               0                   0                  1
142               0                   0                  1
143               0                   0                  1
144               0                   0                  1
145               0                   0                  1
146               0                   0                  1
147               0                   0                  1
148               0                   0                  1
149               0                   0                  1

[150 rows x 3 columns]

In [34]:
dataset['Species'] = dataset['Species'].map({'setosa': 0, 'versicolor': 1, 'virginica':2})

dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [35]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1:]

In [54]:
#Splitting into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3)

In [55]:
#RandomFOrestClassifier
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()

classifier.fit(X_train, y_train)

c:\python64_new\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python64_new\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [56]:
#Predictiong
y_pred = classifier.predict(X_test)

In [57]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

array([[14,  0,  0],
       [ 0, 16,  0],
       [ 0,  1, 14]], dtype=int64)