In [45]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
#Importing Dataset
df = pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [59]:
X = df.iloc[:,:-1]
y = df.iloc[:, -1]

In [19]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [20]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [60]:
#Encoding Categorical Features
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

label_enc = LabelEncoder()
X.iloc[:,3] = label_enc.fit_transform(X.iloc[:,3])

hot_enc = OneHotEncoder(categorical_features=[3])
X = hot_enc.fit_transform(X).toarray()

c:\users\saurav\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [61]:
#Avoiding Dummy Variable Trap by removing one dummy variable
X = X[:, 1:]
X.shape

(50, 5)

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [63]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

#Firring training set to our model
regressor.fit(X_train, y_train)

#Prediting
y_pred = regressor.predict(X_test)

In [64]:
y_pred

array([103015.20159796, 132582.27760816, 132447.73845175,  71976.09851259,
       178537.48221054, 116161.24230163,  67851.69209676,  98791.73374688,
       113969.43533012, 167921.0656955 ])

### Model improvement usinf Backward Elimination

In [50]:
import statsmodels.formula.api as sm

#### IMPORTANT :
We need to add a column of values 1 as a first colum for statsmodels to compute P value.

In [68]:
#Appending new column with 1's to X matrix
X = np.append(arr=np.ones((X.shape[0],1)).astype(int), values=X , axis=1)

X[:2]

array([[1.0000000e+00, 1.0000000e+00, 1.0000000e+00, 0.0000000e+00,
        1.0000000e+00, 1.6534920e+05, 1.3689780e+05, 4.7178410e+05],
       [1.0000000e+00, 1.0000000e+00, 1.0000000e+00, 0.0000000e+00,
        0.0000000e+00, 1.6259770e+05, 1.5137759e+05, 4.4389853e+05]])

In [70]:
X_opt = X[:,[0,1,2,3,4,5]]